.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(175, 185, 245);
    height: 64px;
    padding: 0 32px;
}

.title {
    font-size: 24px;
    flex-grow: 1;
}

@media screen and (max-width: 400px) {
    .username {
        display: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
  }